h1{
	color: black;
	font-size: 40pt;
	text-align: center;
	font-family: fantasy;
}

body {
	background-color: #ECFF9E
}
li{
	color: #6B997F;
	font-size: 18pt;
	font-family: monospace;
}
h2{
	font-family: cursive;
	text-align: center;
	font-size: 35pt;
	color: #3456B3;
}
p{
	font-weight: lighter;
	font-family: fantasy;
	text-align: center;
	font-size: 15pt;
}

#first{
	font-weight: bolder;
}
.lighter{
	font-weight: lighter;
}
#bold{
	font-weight: bold;
}
.final{
	background-color: #FFEF31
}
#bold1{
	font-weight: bold;
}